<input [type]="type" class="fresh-number-box" autocomplete="off"
       [placeholder]="placeholder"
       [value]="value"
       (input)="value = $event.target.value">
<i *ngIf="showAdd" class="material-icons ">add</i>
<i *ngIf="showRefresh" class="material-icons ">refresh</i>
<i *ngIf="showCalendar" class="material-icons">today</i>
<i *ngIf="showSearch" class="material-icons">search</i>

<i *ngIf="showHelp" class="material-icons">help_outline</i>
<i *ngIf="showError" class="material-icons">error_outline</i>
<i *ngIf="allowClearButton && value != ''" class="material-icons" (click)="onHighlightOff()">highlight_off</i>
