<input type="text" class="fresh-number-box" autocomplete="off" 
       [placeholder]="placeholder"
       [disabled]="gdisabled"
       [readonly]="greadOnly"
       [ngStyle]="{'textAlign':textAlign}"
       (keydown)="onKeydown($event)"
       (focus)="onFocus()"
       (blur)="onBlur()"
       (keyup)="onKeyup()">
<i *ngIf="showAdd" class="material-icons " [ngClass]="giconClass">add</i>
<i *ngIf="showRefresh" class="material-icons" [ngClass]="giconClass">refresh</i>
<i *ngIf="showSearch" class="material-icons" [ngClass]="giconClass">search</i>

<i *ngIf="showHelp" class="material-icons" [ngClass]="giconClass">help_outline</i>
<i *ngIf="showError" class="material-icons" [ngClass]="giconClass">error_outline</i>
<i *ngIf="gshowClearButton && (value >= 0 || value < 0) && !(gdisabled || greadOnly)" class="material-icons" 
  [ngClass]="giconClass"
  (click)="onHighlightOff()">highlight_off</i>
