input.fresh-number-box{
  padding: 3px 5px 6px 7px;
  width: calc(100% - 31px);
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.35715;
  height: 15px;
  position: absolute;
}
input.fresh-number-box:focus{
  border: 1px solid #006eff;
  outline: 0;
}
i.material-icons{
  cursor: pointer;
  position: relative;
  float: right;
  top: 1px;
  right: 2px;
}
